# Transforming DataFrames

# Outline
- [1 Inspecting a DataFrame](#inspect)
- [2 Parts of DataFrame](#df-parts)
- [3 Sorting Rows](#sort)
- [4 Subsetting](#subset)
- [&nbsp;&nbsp;4.1 Subsetting Columns](#subset-cols)
- [&nbsp;&nbsp;4.2 Subsetting Rows (Filtering)](#subset-rows)
- [&nbsp;&nbsp;4.4 Subsetting Rows by Categorical Values](#subset-rows-catego)
- [5 Adding New Columns](#new-cols)
- [6 Mixing all Together](#mix)


Importing pandas & loading data into homelessness

In [ ]:
import pandas as pd
homelessness = pd.read_csv("./../../data/homelessness.csv", index_col=0)

<a id="inspect"></a>
#### __1 Inspecting a DataFrame__
When you get a new DataFrame to work with, the first thing you need to do is explore it and see what it contains. There are several useful methods and attributes for this.

- [.head()](#head) returns the first few rows (the “head” of the DataFrame).
- [.info()](#info) shows information on each of the columns, such as the data type and number of missing values.
- [.shape](#shape) returns the number of rows and columns of the DataFrame.
- [.describe()](#describe) calculates a few summary statistics for each column.
homelessness is a DataFrame containing estimates of homelessness in each U.S. state in 2018. The individual column is the number of homeless individuals not part of a family with children. The family_members column is the number of homeless individuals part of a family with children. The state_pop column is the state's total population.

<a id="head"></a>
Print the head of the homelessness data

In [ ]:
homelessness.head()

<a id="info"></a>
Print information about the column types and missing values in homelessness.

In [ ]:
homelessness.info()

<a id="shape"></a>
Print the number of rows and columns in homelessness.

In [ ]:
homelessness.shape

<a id="describe"></a>
Print some summary statistics that describe the homelessness DataFrame.

In [ ]:
homelessness.describe()

<a id="df-parts"></a>
#### __2 Parts of a DataFrame__
To better understand DataFrame objects, it's useful to know that they consist of three components, stored as attributes:

- [.values](#vals): A two-dimensional NumPy array of values.
- [.columns](#cols): An index of columns: the column names.
- [.index](#idx): An index for the rows: either row numbers or row names.
You can usually think of indexes as a list of strings or numbers, though the pandas Index data type allows for more sophisticated options. (These will be covered later in the course.)

<a id="vals"></a>
Print a 2D NumPy array of the values in homelessness.

In [ ]:
homelessness.values

<a id="cols"></a>
Print the column names of homelessness.

In [ ]:
homelessness.columns

<a id="idx"></a>
Print the index of homelessness.

In [ ]:
homelessness.index

<a id="sort"></a>
#### __3 Sorting rows__
Finding interesting bits of data in a DataFrame is often easier if you change the order of the rows. You can sort the rows by passing a column name to [.sort_values().](#row-sort)

In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.


|Sort on...|Syntax|
|---|---|
|one column|df.sort_values("breed")|
|multiple columns|df.sort_values(["breed", "weight_kg"])|

By combining .sort_values() with .head(), you can answer questions in the form, "What are the top cases where…?".

<a id="row-sort"></a>
Sort homelessness by the number of homeless individuals, from smallest to largest, and save this as homelessness_ind.
Print the head of the sorted DataFrame.

In [ ]:
homelessness_ind = homelessness.sort_values("individuals", ascending=True)
homelessness_ind

Sort homelessness by the number of homeless family_members in descending order, and save this as homelessness_fam.
Print the head of the sorted DataFrame.

In [ ]:
homelessness_fam = homelessness.sort_values("family_members", ascending=False)
homelessness_fam

Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as homelessness_reg_fam.
Print the head of the sorted DataFrame.

In [ ]:
homelessness_reg_fam = homelessness.sort_values(["region", "family_members"], ascending=[True, False])

homelessness_reg_fam.head()

<a id="subset"></a>
#### __4 Subsetting__
<a id="subset-cols"></a>
__4.1 Columns__<br>
When working with data, you may not need all of the variables in your dataset. Square brackets (`[]`) can be used to select only the columns that matter to you in an order that makes sense to you. To select only "col_a" of the DataFrame `df`, use
<br>`df["col_a"]`<br>
To select "col_a" and "col_b" of df, use
<br>`df[["col_a", "col_b"]]`<br>

Create a DataFrame called individuals that contains only the individuals column of homelessness.
Print the head of the result.

In [ ]:
individuals = homelessness["individuals"]
individuals.head()

Create a DataFrame called state_fam that contains only the state and family_members columns of homelessness, in that order.
Print the head of the result.

In [ ]:
state_fam = homelessness[["state", "family_members"]]
state_fam.head()

Create a DataFrame called ind_state that contains the individuals and state columns of homelessness, in that order.
Print the head of the result.

In [ ]:
ind_state = homelessness[["individuals", "state"]]
ind_state.head()

<a id="subset-rows"></a>
#### __4.2 Subsetting Rows__
A large part of data science is about finding which bits of your dataset are interesting. One of the simplest techniques for this is to find a subset of rows that match some criteria. This is sometimes known as filtering rows or selecting rows.

There are many ways to subset a DataFrame, perhaps the most common is to use relational operators to return `True` or `False` for each row, then pass that inside square brackets.

`dogs[dogs["height_cm"] > 60]` <br>
`dogs[dogs["color"] == "tan"]` <br>
You can filter for multiple conditions at once by using the "bitwise and" operator, `&`.

`dogs[(dogs["height_cm"] > 60) & (dogs["color"] == "tan")]`


Filter homelessness for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.

In [ ]:
ind_gt_10k = homelessness[homelessness["individuals"] > 10_000]
ind_gt_10k

Filter homelessness for cases where the USA Census region is "Mountain", assigning to mountain_reg. View the printed result.

In [ ]:
mountain_reg = homelessness[homelessness["region"] == "Mountain"]
mountain_reg

Filter homelessness for cases where the number of family_members is less than one thousand and the region is "Pacific", assigning to fam_lt_1k_pac. View the printed result.

In [ ]:
fam_lt_1k_pac = homelessness[(homelessness["family_members"] < 1_000) & (homelessness["region"] == "Pacific")]
fam_lt_1k_pac

<a id="subset-rows-catego"></a>
#### __4.3 Subsetting rows by categorical variables__
Subsetting data based on a categorical variable often involves using the "or" operator (`|`) to select rows from multiple categories. This can get tedious when you want all states in one of three different regions, for example. Instead, use the `.isin()` method, which will allow you to tackle this problem by writing one condition instead of three separate ones.

`colors = ["brown", "black", "tan"]` <br>
`condition = dogs["color"].isin(colors)` <br>
`dogs[condition]` <br>

Filter homelessness for cases where the USA census region is "South Atlantic" or it is "Mid-Atlantic", assigning to south_mid_atlantic. View the printed result.

In [ ]:
south_mid_atlantic = homelessness[homelessness["region"].isin(["South Atlantic", "Mid-Atlantic"])]
south_mid_atlantic

Filter homelessness for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_homelessness. View the printed result.

In [ ]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

mojave_homelessness = homelessness[homelessness["state"].isin(canu)]
mojave_homelessness

<a id="new-cols"></a>
# 5 Adding new columns
You aren't stuck with just the data you are given. Instead, you can add new columns to a DataFrame. This has many names, such as transforming, mutating, and feature engineering.

You can create new columns from scratch, but it is also common to derive them from other columns, for example, by adding columns together or by changing their units.

Add a new column to `homelessness`, named `total`, containing the sum of the `individuals` and `family_members` columns.
Add another column to `homelessness`, named `p_individuals`, containing the proportion of homeless people in each state who are individuals.

In [ ]:
homelessness["total"] = homelessness["individuals"] + homelessness["family_members"]
homelessness["p_individuals"] = homelessness["individuals"] / homelessness["total"]

homelessness

<a id="mix"></a>
# 6 Combo-attack!
You've seen the four most common types of data manipulation: sorting rows, subsetting columns, subsetting rows, and adding new columns. In a real-life data analysis, you can mix and match these four manipulations to answer a multitude of questions.

In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new `pandas` skills to find out.

Add a column to `homelessness`, `indiv_per_10k`, containing the number of homeless individuals per ten thousand people in each state.

In [75]:
homelessness["indiv_per_10k"] = homelessness["individuals"] / homelessness["state_pop"] * 10_000

Subset rows where `indiv_per_10k` is higher than `20`, assigning to `high_homelessness`.

In [76]:
high_homelessness = homelessness[homelessness["indiv_per_10k"] > 20]

Sort `high_homelessness` by descending `indiv_per_10k`, assigning to `high_homelessness_srt`.

In [77]:
high_homelessness_srt = high_homelessness.sort_values("indiv_per_10k", ascending=False)
high_homelessness_srt

,region,state,individuals,family_members,state_pop,total,p_individuals,indiv_per_10k
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,6904.0,0.546060,53.738381
11,Pacific,Hawaii,4131.0,2399.0,1420593,6530.0,0.632619,29.079406
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.838704,27.623825
37,Pacific,Oregon,11139.0,3337.0,4181886,14476.0,0.769481,26.636307
28,Mountain,Nevada,7058.0,486.0,3027341,7544.0,0.935578,23.314189
47,Pacific,Washington,16424.0,5880.0,7523869,22304.0,0.736370,21.829195
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,91897.0,0.433387,20.392363

Select only the `state` and `indiv_per_10k` columns of `high_homelessness_srt` and save as `result`. Look at the `result`.

In [78]:
result = high_homelessness_srt[["state", "indiv_per_10k"]]

result

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363